
.sidebar{
    background-image:url(../.././assets/paleblue-leaves-petals.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: center;
}

@media only screen and (max-width:780px){
    .nav{
        display: none;
    }
    .menuBar{
        display: flex;
    }
    .sidebar{
        display: inline-block;
    }
} 
/* 320px 618px */